@page "{id:int?}"
@model Restaurangen.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Avboka";
}

<h1>Avboka</h1>

<h3>Är du säker på att du vill avboka denna boknning?</h3>
<div>
    <h4>Bokning</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Fname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Other)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Other)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Time)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Persons)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.Id" />
        <input type="submit" value="Avboka" class="btn btn-danger" /> |
        <a asp-page="./Index">Tillbaka till alla bokningar</a>
    </form>
</div>
