@page "{id:int?}"
@model Restaurangen.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Information";
}

<h1>Information</h1>

<div>
    <h4>Bokning</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Fname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Other)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Other)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Persons)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Persons)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.Id">Ändra</a> |
    <a asp-page="./Index">Alla bokningar</a>
</div>
